body {
  background-color: #f3f1f9;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}
.app {
  background: white;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 12px;
  padding: 40px;
  line-height: 48px;
}
.header {
  padding: 0 0 30px 0;
  line-height: 45px;
  font-size: 55px;
}
.search-form-input {
  background-color: #f3f1f9;
  border-radius: 5px;
  width: 600px;
  font-size: 18px;
  padding: 14px;
  border: none;
}
.search-form-button {
  background-color: blueviolet;
  padding: 14px;
  border-radius: 10px;
  color: white;
  margin-left: 6px;
  font-size: 16px;
}
p {
  font-size: 20px;
}

main {
  padding: 28px 0;
}
.app-temperature {
  font-size: 65px;
}
.current-app-details strong {
  line-height: 20px;
  font-size: 20px;
  color: #d63384;
  font-weight: 300px;
}

.app-data {
  display: flex;
  justify-content: space-between;
}
.app-temperature-container {
  display: flex;
}
.app-icon {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 15px;
}
.app-unit {
  margin-top: 6px;
  font-size: 25px;
  margin-left: 3px;
}

footer {
  border: none;
  border-radius: 10px;
  padding: 30px 0 0 0;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
a {
  color: blueviolet;
}
