body {
  background-color: #f3f1f9;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}
.app {
  background: white;
  max-width: 700px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 12px;
  padding: 40px;
  line-height: 48px;
}
.header {
  padding: 0 0 30px 0;
  line-height: 45px;
  font-size: 55px;
}
.search-form-input {
  background-color: #f3f1f9;
  border-radius: 5px;
  width: 550px;
  font-size: 16px;
  padding: 16px;
  border: none;
}
.search-form-button {
  background-color: blueviolet;
  padding: 16px;
  border-radius: 10px;
  color: white;
  margin-left: 6px;
  font-size: 16px;
  width: 100px;
}
p {
  font-size: 18px;
}

main {
  padding: 28px 0;
}
.app-temperature {
  font-size: 85px;
  margin-top: 8px;
}
.current-app-details strong {
  line-height: 10px;
  font-size: 18px;
  color: #d63384;
  font-weight: 400px;
}

.app-data {
  display: flex;
  justify-content: space-between;
}
.app-temperature-container {
  display: flex;
}
.app-icon {
  width: 55px;
  margin-top: 20px;
}
.app-unit {
  margin-top: 16px;
  font-size: 20px;
  margin-left: 3px;
}

.app-forecast {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
}
.app-forecast-date {
  text-align: center;
  color: #27214266;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 5px;
  list-style: none;
}
.app-forecast-icon {
  text-align: center;
  width: 65%;
  display: block;
  margin: 0 auto;
}

.app-forecast-temperatures {
  text-align: center;
  color: #d63384;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.app-forecast-temperature {
  padding: 0 17px;
}

h1 {
  font-size: 45px;
}

footer {
  border: none;
  border-radius: 10px;
  padding: 30px 0 0 0;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
a {
  color: blueviolet;
}
